frontend/node_modules/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.next/
frontend/dist/
frontend/build/
frontend/.clerk/
frontend/.env.local

backend/__pycache__/
backend/uploads/
backend/.env.local

venv/
uploads/